[Unit]
Description=Web interface for omxplayer
After=multi-user.target

[Service]
Type=forking
User=pi
WorkingDirectory=/home/pi
ExecStart=/home/pi/bin/gomovies.sh
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=5
PIDFile=/tmp/gomovies.pid

[Install]
WantedBy=multi-user.target