#!/usr/bin/env bash

torrent_file=$1

if [[ -z ${torrent_file} ]]; then
    echo "Path to torrent file is required"
    exit 1
fi

if [[ ! -f ${torrent_file} ]]; then
    echo "File ${torrent_file} not found"
    exit 1
fi

torrent_base64=$(base64 "${torrent_file}")

curl \
  -X POST \
  -H "Content-Type: application/json" \
  -d "{\"file\": \"${torrent_base64}\"}" \
  http://{{ hostvars['gomovies_host'].ansible_host }}:{{ app.config.web_port }}/api/torrent/add

