{
  "dirs": [
  ],
  "video_file_exts": [
    ".avi",
    ".mkv",
    ".m4v"
  ],
  "details_langs": ["en", "ru"],
  "web_port": {{ app.config.web_port }},
  "tmdb_api_key": "{{ tmdb_api_key }}",
  "tmdb_poster_small": "w92",
  "torrent_remote_ctrl_addr": "{{ rtorrent_rpc_addr }}"
}
